<% include layouts/header %>
<div style="margin-top: 15px">
        <a class="menu" href="/createtest">Create Test</a>
        <a class="menu" href="/test">Do Test</a>
        <a class="menu" href="/listtest">List Test</a>
        <!-- <a href="/result">Bang xep hang</a> -->
</div>
<h1 style="margin-top: 50px;">QUIZZ APPICATION</h1>
<% include layouts/footer %>