<% include layouts/header%>
<%console.log(result)%>
<%console.log(test)%>
<h1>YOUR RESUT</h1>
<p> Name: <%=result.name%> </p>
<p>Class: <%=result.class%></p>
<p>Test: <%= test.name%></p>
<div class="score"><p><%= result.score%></p></div>

<% include layouts/footer%>